<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Admin Console</h1>
      <h2> Setup pages, users, and settings </h2>
    </div>
</header>
<main>
	<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
	  <h1 class="text-3xl font-bold tracking-tight text-gray-900">Pages</h1>

	<div class="flex items-center justify-between">
		<%= link_to "New Page", new_page_path, type: "button", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
  <br>

	  <% @pages.each do |page| %>


	    <div class="max-w-sm w-full lg:max-w-full lg:flex">

  <div class="border-r border-b border-l border-t border-gray-400 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      
      <div class="text-gray-900 font-bold text-xl mb-2">
      	
	        <%= page.title %>
	      </div>
      <p class="text-gray-700 text-base">💻 Developers: Find this page in <code style="background:#ffeff0">app/pages/<%= page.id %>.html</code>. Add custom code, integrations and extension in that file.</p><br>
      <p><a class="text-blue-600" href="<%= page_path(page) %>/edit">Edit page setting</p>
    	</div>
	  </div>
	</div>
	<br>
	  <% end %>


	</div>
	

<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
<h1 class="text-3xl font-bold tracking-tight text-gray-900">Users</h1>

<div class="flex items-center">
		<%= link_to "New User", new_page_path, type: "button", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
		<p>This will create new app user and its default folders</p>
  </div>
  <br>

<div class="py-8 px-8 columns-3xs mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
  <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b6c30fa4-7e9d-405f-8481-305884389e09/deburkc-349685e7-482e-422c-bc42-0780b03666ec.jpg/v1/fill/w_1280,h_1280,q_75,strp/mario_square_by_domthemixture_deburkc-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcL2I2YzMwZmE0LTdlOWQtNDA1Zi04NDgxLTMwNTg4NDM4OWUwOVwvZGVidXJrYy0zNDk2ODVlNy00ODJlLTQyMmMtYmM0Mi0wNzgwYjAzNjY2ZWMuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.96RPKyMDWJOA4AGutA_1AFp6fGLDwcFV3cyYxMsaT7Q"/>
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Mario
      </p>
      <p class="text-slate-500 font-medium">
        Chief Plumbing Officer
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Edit</button>
  </div>

  <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="https://static.wikia.nocookie.net/divided-destiny/images/0/0f/Profile-mk-luigi.7bf2a8f2.aead314d58b63e27.png" />
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Luigi
      </p>
      <p class="text-slate-500 font-medium">
        Minion
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Edit</button>
  </div>

  
</div>

</div>

</div>
</main>
